@import "~bootstrap/scss/bootstrap.scss";

.stop-light-container{
    background: black;
    width: 45%;
    margin: auto;
    padding: 25px;
}
 .light{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px auto;
 };

.red{
    background: red;  
}

.yellow{
    background: yellow; 
}

.green{
    background: green; 
}

.off {
    opacity: 0.25 !important;
}