@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url("https://cdn130.picsart.com/274309503001201.jpg?r1024x1024");
    background-repeat: no-repeat;
    background-size: cover;
}


.stop-light-container{
    background: black;
    width: 16%;
    margin: auto;
    padding: 25px;
}
 .light{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px auto;
 };

.red{
    background: red;  
}

.yellow{
    background: yellow; 
}

.green{
    background: green; 
}

.off {
    opacity: 0.25 !important;
}