@import "~bootstrap/scss/bootstrap.scss";

.stop-light-container{
    background: black;
    height: 550px;
    width: 450px;
}

.red{
    background: red;
    height: 130px;
}

.yellow{
    background: yellow;
    height: 130px;
}

.green{
    background: green;
    height: 130px;
}
